@import "tailwindcss";

@theme {
  --color-primary: #005a9e;
  --color-secondary: #f0ad4e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
}